<nav>
    <div class="header">
        <iconify-icon style="cursor: pointer;" class="hamburger-icon" icon="ci:hamburger-lg" style="color: #053F41;" width="50" height="50"></iconify-icon>
        <img src="./resources/images/navImgMobile.png" alt="">
    </div>
    <ul id="navbar" class="">
        <a href="#"> <li class="">Home </li></a>
        <a href="#"> <li class="">Steentje</li></a>
        <a href="#"> <li class="">Takken</li></a>
        <a href="#"> <li class="">Contact</li></a>
        <a href="#"> <li class="">Wontolla </li></a>
        <a href="#"> <li class="">Schrijf je in!</li></a>                
    </ul>
    

</nav>