.content{
    width: 100%;
    margin-top: 30px;
    &__img
    {
        width: 100%;
        margin-top: -20px;
    }
    &__title{
        
        font-size: $fontsizeH1Mobile;
    }
    &__container{
        width: 90%;
        margin: auto;
    }
   

    @media screen and (min-width: 1024px) {
        .content{
           
            &__container{
               width: 80%;
                display: grid;
                grid-template-columns: 70% 30% ;
                margin-top: 30px;
        
            }
        }
    }
}

