$backgroundColor :  #ffffff;
$textColor: #053F41;
$buttonTextColor:white;
$buttonHoverColor: #053F41;
$textHoverColor:white;

$buttonTakColor:  #F39A18;
$buttonEvenementColor: #FF6523;




