@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400;500&display=swap");
li {
  list-style: none;
  color: #053F41;
}

h1, h2, h3 {
  font-family: "Lato";
}

body {
  font-family: "Roboto";
  line-height: 1.5;
}

a {
  text-decoration: none;
}

nav {
  width: 90%;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

nav .header {
  display: flex;
  justify-content: space-between; /* Om de elementen te verdelen, de afbeelding zal naar rechts worden geduwd */
  align-items: center;
}

nav .hamburger-icon {
  margin-top: 15px;
}

nav img {
  width: 80%;
}

#navbar {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, max-height 1s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
}

#navbar.active {
  transform: translateY(0);
  opacity: 1;
  max-height: 500px; /* of de hoogte die je wilt hebben */
  pointer-events: auto;
}

#navbar:not(.active) {
  transition: transform 5s ease-in-out, opacity 5s ease-in-out, max-height 1s ease-in-out; /* Aangepaste overgangsduratie voor deactiveren */
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

#navbar a {
  display: block;
  margin-bottom: 15px;
  color: #053F41;
  border-bottom: 1px solid transparent;
  padding: 3px 6px 3px 6px;
}

#navbar a:hover {
  border-bottom: 1px solid #053F41;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  nav {
    width: 90%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Om de elementen te verdelen, de afbeelding zal naar rechts worden geduwd */
    align-items: center;
  }
  nav .hamburger-icon {
    display: none;
  }
  nav img {
    width: 70%;
  }
  #navbar {
    display: flex;
    margin-top: 0;
    flex-direction: row;
  }
  #navbar a {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  #navbar #CTA {
    border: 1px solid #053F41;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
  }
}
.newscards {
  width: 90%;
}
.newscards__card {
  margin-top: 20px;
}
.newscards__card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.newscards__card__header__title {
  font-size: 130%;
}
.newscards__card__header__dateButton {
  margin-left: 20px;
  background: transparent;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #053F41;
}
.newscards__card__header__takButtonDesc {
  background: #F39A18;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #F39A18;
  color: white;
  margin-left: 2%;
  display: none;
}
.newscards__card__header__evenementButtonDesc {
  background: #FF6523;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #FF6523;
  color: white;
  display: none;
  margin-left: 2%;
}
.newscards__card__text {
  margin-top: -5px;
}
.newscards__card__takButton {
  background: #F39A18;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #F39A18;
  color: white;
}
.newscards__card__evenementButton {
  background: #FF6523;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  border: 1px solid #FF6523;
  color: white;
  margin-left: 2%;
}

@media screen and (min-width: 1024px) {
  .newscards__card {
    margin-top: 50px;
  }
  .newscards__card__header__takButtonDesc {
    display: block;
  }
  .newscards__card__header__evenementButtonDesc {
    display: block;
  }
  .newscards__card__takButton {
    display: none;
  }
  .newscards__card__evenementButton {
    display: none;
  }
}
.info {
  display: none;
}

@media screen and (min-width: 1024px) {
  .info {
    display: block;
  }
  .info__title {
    font-size: 170%;
    margin-bottom: 30px;
    margin-left: 20%;
  }
  .info__text {
    border-left: 2px solid #053F41;
    padding-left: 20%;
    line-height: 1.5;
  }
  .info a {
    color: #F39A18;
  }
}
.footer {
  background-color: #053F41;
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
}
.footer__mobile {
  display: flex;
  margin-left: 5%;
  width: 80%;
  margin: auto;
}
.footer__mobile__img {
  height: fit-content;
  margin-top: 30px;
}
.footer__mobile__text {
  margin-bottom: 20px;
  color: white;
  margin-left: 5%;
}
.footer__mobile__text__span {
  color: gray;
}
.footer__mobile__text__link {
  color: white;
}
.footer__desc {
  display: none;
}

.footer a {
  color: white;
}

.privacy {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.privacy a {
  color: gray;
  font-size: 80%;
}

@media screen and (min-width: 1024px) {
  .footer__mobile {
    margin-left: 10%;
  }
  .footer__desc {
    width: 50%;
    margin-top: 20px;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: gray;
  }
  .footer__desc__takken {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .footer__desc__takken__title {
    grid-column: span 2;
    margin-bottom: -40px;
  }
  .privacy {
    justify-content: space-around;
  }
}
.content {
  width: 100%;
  margin-top: 30px;
}
.content__img {
  width: 100%;
  margin-top: -20px;
}
.content__title {
  font-size: 170%;
}
.content__container {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .content .content__container {
    width: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
  }
}

body {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
}