nav{
    width: 90%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}
nav .header{
    display: flex;   
    justify-content: space-between; /* Om de elementen te verdelen, de afbeelding zal naar rechts worden geduwd */
    align-items: center;
}

nav .hamburger-icon{
    margin-top: 15px;
}

nav img{
    width: 80%;
}


#navbar {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, max-height 1s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    text-align: center;
    font-size: 120%;   
    margin-top: 20px;
}

#navbar.active {
    transform: translateY(0);
    opacity: 1;
    max-height: 500px; /* of de hoogte die je wilt hebben */
    pointer-events: auto;
}

#navbar:not(.active) {
    transition: transform 5s ease-in-out, opacity 5s ease-in-out, max-height 1s ease-in-out; /* Aangepaste overgangsduratie voor deactiveren */
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}


#navbar a{
    display: block;
    margin-bottom: 15px;
    color:$textColor ;
    border-bottom: 1px solid transparent;
    padding: 3px 6px 3px 6px;
}
#navbar a:hover{
   border-bottom: 1px solid $buttonHoverColor;
   transition: 0.3s ease-in-out;
}



@media screen and (min-width: 1024px) {
    nav {
        width: 90%;
        margin: auto;
        padding: 10px;
        overflow: hidden;
        display: flex;   
        justify-content: space-between; /* Om de elementen te verdelen, de afbeelding zal naar rechts worden geduwd */
        align-items: center;
    }
    nav .hamburger-icon {
        display: none;
    }

    nav img {
        width: 70%;
    }
    

    #navbar {
        display: flex;
        margin-top: 0;
        flex-direction: row;         
    }

    #navbar a {
        margin-top: 20px;
        margin-bottom: 0;
        margin-right: 15px; 
    }

    #navbar #CTA{
        border: 1px solid $buttonBorderColor;
        border-radius: 5px;
        padding: 3px 10px 3px 10px;
    }
    
}


